* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.joker_bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(./public/joker_png.png), #1e2538;
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  height: fit-content;
  background: #1e2538;
  position: relative;
  z-index: 0;
  .container {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    header {
      margin-block: 20px;
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 6px;
          .logo {
            display: flex;
            cursor: pointer;
            gap: 6px;
            align-items: center;
            p {
              color: #fff;
              font-size: 25px;
              font-weight: 800;
              span {
                color: #3657cb;
                font-size: 25px;
                font-weight: 800;
              }
            }
          }
          .networks {
            width: fit-content;
            img {
              color: #686868;
              width: 130px;
              font-weight: 400;
            }
          }
        }
        .center {
          display: flex;
          align-items: center;
          gap: 36px;
          a {
            color: white;
            text-decoration: none;
            cursor: pointer;
          }
          a:hover {
            transition: 0.4s;
            opacity: 0.5;
          }
        }
        .right {
          display: flex;
          gap: 12px;
          align-items: center;
          .searcher_btn {
            width: 55px;
            height: 52px;
            background-color: transparent;
            border: 0px;
            cursor: pointer;
          }
          .sign_in {
            width: 138px;
            height: 53px;
            border-radius: 10px;
            border: 0;
            background: #3657cb;
            box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.1);
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            line-height: 166.5%; /* 26.64px */
            cursor: pointer;
          }
          .sign_in:hover {
            transition: 0.4s;
            box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.8);
          }
        }
      }
    }
    .now_playing_content {
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin-bottom: 40px;
      .title_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          color: #fff;
          font-size: 55px;
          font-weight: 900;
        }
        .line {
          width: 51.5px;
          margin-top: 15px;
          height: 2px;
          border-radius: 3px;
          background-color: #fff;
          stroke-width: 2px;
        }
        ul {
          display: flex;
          color: #fff;
          margin-top: 15px;
          gap: 12px;
          li {
            color: rgba(255, 255, 255, 0.35);
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
          }
          li:nth-child(1) {
            color: #fff;
          }
        }
      }
      .pop_movies_box {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 12px;
        img {
          width: 300px;
          border-radius: 10px;
          height: 450px;
          position: relative;
          z-index: 1;
        }
      }
      .all_novelties_btn {
        border-radius: 10px;
        width: fit-content;
        border: 2px solid #fff;
        background-color: transparent;
        color: #fff;
        font-size: 18px;
        margin: 0 auto;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 166.5%;
        padding: 16px 46px;
        cursor: pointer;
      }
    }
    .new_trailers {
      display: flex;
      flex-direction: column;
      gap: 40px;
      &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        h1 {
          font-size: 50px;
          font-weight: 900;
        }
        p {
          margin-top: 12px;
          display: flex;
          font-size: 22px;
          font-weight: 700;
          align-items: center;
          gap: 8px;
        }
      }
      .trailer_box {
        display: flex;
        flex-direction: column;
        ul {
          display: flex;
          margin-top: 24px;
          justify-content: space-between;
          align-items: center;
          li {
            display: flex;
            .assessment_box {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 8px;
              color: #fff;
              button {
                border-radius: 10px;
                background: #1b2133;
                width: 50px;
                border: none;
                height: 50px;
                position: relative;
                img {
                  position: absolute;
                  top: 20%;
                  left: 20%;
                }
                .dislike_icon {
                  top: 30%;
                }
              }
            }
          }
          li:nth-child(1) {
            gap: 12px;
          }
          li:nth-child(2) {
            gap: 8px;
          }
        }
      }
    }
    .popular_movies {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-bottom: 60px;
      &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          color: #fff;
          font-size: 48px;
          font-weight: 900;
        }
        div {
          height: 2px;
          width: 51px;
          margin-top: 16px;
          background-color: #fff;
        }
        ul {
          display: flex;
          margin-top: 16px;
          font-size: 18px;
          gap: 16px;
          li {
            color: rgba(255, 255, 255, 0.35);
            font-size: 18px;
            font-weight: 700;
          }
          li:nth-child(1) {
            color: #fff;
          }
        }
      }
      &_swiper {
        display: flex;
        flex-direction: column;
        gap: 50px;
        .swiper-control {
          display: flex;
          align-items: center;
          gap: 20px;
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          margin: 0 auto;
          button {
            background-color: transparent;
            border: 0;
            cursor: pointer;
          }
        }
        .swiper-wrapper {
          display: flex;
          gap: 40px;
          img {
            width: 300px;
            height: 450px;
          }
        }
      }
    }
    .pop_stars {
      display: flex;
      flex-direction: column;
      gap: 50px;
      &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          color: #fff;
          font-size: 45px;
          font-weight: 900;
        }
        ul {
          display: flex;
          gap: 16px;
		  margin-top: 12px;
          align-items: center;
          li {
            color: #6d717d;
            font-size: 18px;
            font-weight: 700;
          }
		  li:nth-child(3){
			color: white;
		  }
        }
      }
	  &_content{
		display: flex;
		gap: 12px;
	  }
    }
  }
}
.movies_imgs {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: fit-content;
  .movies_title {
    width: 300px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
  .movies_genre {
    color: #f2f60f;
    width: 300px;
    font-size: 15px;
    font-weight: 400;
  }
  .movies_img {
    width: 300px;
    height: 450px;
  }
}
.movies_bg {
  position: absolute;
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  top: 0;
  left: 0;
  .movies_bg_btn {
    width: 200px;
    height: 65px;
    display: none;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(55, 94, 232, 0.4);
    color: #3657cb;
    border: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 166.5%;
    cursor: pointer;
  }
  .movies_rating {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    background: #89cb36;
    width: 62.275px;
    height: 33.214px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
}
.movies_bg:hover {
  transition: 0.3s;
  background: rgba(54, 87, 203, 0.65);
  border-radius: 10px;
}

.show {
  display: block !important;
}
.hide {
  display: none !important;
}

.swiper {
  width: 100%;
  height: fit-content;
  .swiper-wrapper {
    width: fit-content;
    gap: 11px !important;
    .swiper-slide {
      width: fit-content !important;
      height: fit-content !important;
    }
  }
}
.swiper-button-prev {
  background-color: transparent;
  border: 0;
}
.swiper-pagination {
  position: relative;
  color: #fff;
  z-index: 999999999999999999;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) !important;
  font-size: 50px;
}
.swiper-button-next {
  background-color: transparent;
  border: 0;
}
